:root {
  --main-background-color: #f9f7ee;
  --main-color: #7c6f5b;
  --main-color-bold: #443c2f;
  --main-back-color-contact: #7c6f5b0a;
  --main-linear-gradient-banner-download: linear-gradient(
    90deg,
    #ffeed5 0%,
    #fffcd9 100%
  );
  --base-color: #ebebeb;
  --highlight-color: #f5f5f5;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block;
  --mtui-background-skeleton: #e9ebed;
  /* --main-background-color: rgba(252, 167, 45, 1); */
}
